<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Ծառայություններ</title>
</head>
<body>
<section class="section">
    <br>
    <div class="section section_devices">
        <div class="container">
                <div class="container flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <div class="header_inner">
            <div class="header_logo_black">ժամերի աշխարհ</div>

            <nav class="nav">
                <a class="nav_link_black" href=/about>Մեր մասին</a>
                <a class="nav_link_black" href="/services">Ծառայություններ</a>
                <a class="nav_link_black" href="#">Կապ մեզ հետ</a>
                <a class="nav_link_black" href="/sing_in">Նույնականացում</a>
                <a class="cart_black" href="#"></a>
                <a class="search_black" href="#"></a>
            </nav>
        </div>
    </div>

            <div class="section_header">
                <h3 class="section_suptitle">Բոլոր սարքերը</h3>
                <h2 class="section_title">Յուրահատուկ դիզայն</h2>
            </div>

            <div class="devices">
                <img class="devices_ipad" src="static/images/ipad.png">
                <img class="devices_iphone devices_item-iphone" src="static/images/iphone.png">
            </div>
        </div>
    </div>
</section>

<section class="container section">
        <div class="section_header">
            <h3 class="section_suptitle_2">Մենք աշխատում ենք</h3>
            <h2 class="section_title">Զրմանալի ծառայություններ</h2>
            <i class="bi bi-activity"></i>
        </div>

        <div class="services">

            <div class="services_item">
                <img class="services_icon" src="/static/images/2.png">
                <div class="services_title">Աշխատանքային ժամ</div>
                <div class="services_text">
                    Աշխատանքային ժամերը՝ առավոտյան 8:00-ից մինչև 18:00-ն:
                    Շաբաթական 7 օր:
                </div>
            </div>
            <div class="services_item">
                <img class="services_icon" src="/static/images/1.png">
                <div class="services_title">Ծրագրային ապահովում</div>
                <div class="services_text">
                    Դիզայներները, որոնք մենք ունենք Թոմի Վինչեցո,
                    Անտոնիոն Միչալե, Էնրիկո Բանդերոս։
                </div>
            </div>
            <div class="services_item">
                <img class="services_icon" src="/static/images/3.png">
                <div class="services_title">Աշխատանքային ժամ</div>
                <div class="services_text">
                    Զբաղվում է ծրագրային ապահովմամբ Ջեյմի Անդերսոն,
                    Անտոնիո Մաքիավելի, Ֆրանց Լեբոն:
                </div>
            </div>
        </div>

        <hr>

        <div class="services">

            <div class="services_item">
                <img class="services_icon" src="/static/images/4.png">
                <div class="services_title">Գործադիր տնօրեն</div>
                <div class="services_text">
                    Վարուժան Մանուկյան Հրանտի
                    Ծնվել է՝ 06․12․2004թ․
                </div>
            </div>
            <div class="services_item">
                <img class="services_icon" src="/static/images/6.png">
                <div class="services_title">Հասցե</div>
                <div class="services_text">
                    8 Աբովյանի փողոց, Երևան 0010
                </div>
            </div>
            <div class="services_item">
                <img class="services_icon" src="/static/images/5.png">
                <div class="services_title">Տվյալներ</div>
                <div class="services_text">
                    Հեռախոսահամար` +374-98-89-88-98:
                    Էլեկտրոնային հասցե` zhameriashxah@gmail.com
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>
    <br>
</section>
<script type="text/javascript">
    window.addEventListener('scroll', e =>{
        document.body.style.cssText = `--scrollTop: ${this.scrollY}px`
    })
</script>
</body>
</html>